APP_ENV=local

# ELK
ELASTIC_VERSION=8.5.3
ELASTIC_PASSWORD='@aA123456'
KIBANA_SYSTEM_PASSWORD='@aA123456'
FILEBEAT_INTERNAL_PASSWORD='@aA123456'

# Ports
APP_PORT=5050
POSTGRES_PORT=5434
REDIS_PORT=6385
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_TRANSPORT_PORT=9300
KIBANA_PORT=5601
PGADMIN_PORT=8589

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=golang_web_api

# PgAdmin
PGADMIN_EMAIL=admin@main.com
PGADMIN_PASSWORD=secret
